<ion-content [fullscreen]="true" style="--background: #F4F4F4;">
  <div class="text-small">Back</div>
  <div class="Profile">
    <img src="assets/images/female.png" alt="Profile-pic" class="profile" />
    <div class="Profile-picture">Mihaela Marcu</div>
  </div>
  <div class="notification-icon">
   <img src="assets/images/notification-bell.png" alt="Norification Icon" class="notification" />
  </div>
  <div class="rectangle-group"></div>
    <div class="rectangle">
      <div class="ellipse">
        <img src="assets/images/Chat.png" alt="Chat Icon" class="chat-icon" />
       </div>
      <p class="text-rectangle">Chat with Mitzi</p>
    </div>
  <div class="topics">Topics</div>
  <div class="rectangle1">
    <div class="ellipse1">
      <img src="assets/images/productivity.png" alt="Productivity Icon" class="productivity-icon" />
     </div>
    <p class="text-productivity">Productivity</p>
  </div>
</ion-content>
